
<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes"
    [class.selected]="hero === selectedHero"
    (click)="onSelect(heroes)">
    <span class="badge">{{heroes.id}}</span> {{heroes.name}}
  </li>
</ul>
<app-hero-detail [hero]="selectedHeroes"></app-hero-detail>


<div *ngIf="selectedHeroes">
<h2>{{ heroes.name | uppercase }} Details</h2>
<div><span>id: </span>{{heroes.id}}</div>
<div>
    <label>name:
      <input [(ngModel)]="heroes.name" placeholder="name">
    </label>
</div>